page-register {

}
.submit-btn {
  background-color: #FF8B31 !important;
  border-radius: 5px;
}
.trans-input {
    border: 5px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 1);
  	background-color: rgba(0, 0, 0, 0);
  	color: white;
}

#cont-registro, #cont-registro-header{
  background-image: url("../assets/images/fondo.png");
  color: #FFFFFF;
}
