page-tab1 {

}
$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
#contenido {
    //background-color: #1E1C1C;
    background-image: url("../assets/images/fondo.png");
    color: white;
}
